<header>
  <div class="container">
    <a routerLink="" class="logo"> The Photo Shop </a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Connexion</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profil">Profil</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/upload-page"> Upload</a>
        </li>
        <li>
          <a routerLink="/cart-page">
            Panier <span>{{ panierQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
