<div>
  <h1>Uploader une photo</h1>

  <form (submit)="upload_func($event)">
    <div>
      <label for="name">Nom de la photo :</label>
      <input type="text" id="name" name="name" />
    </div>
    <div>
      <label for="epreuve">Nom du concours :</label>
      <input type="text" id="epreuve" name="epreuve" />
    </div>
    <div>
      <label for="photo">Choisir une photo :</label>
      <input type="file" id="photo" name="photo" />
    </div>
    <button type="submit">Uploader</button>
  </form>

  <div *ngIf="uploadSuccess" class="sucess-message">
    Photo uploadé avec succès !
  </div>
  <div *ngIf="uploadError" class="error-message">{{ uploadError }}</div>
</div>
